[Unit]
Description=Google Chrome Backup service

[Service]
Type=oneshot
ExecStart=/bin/sh /home/maxwell/localGIT/xs-pkg/BashScripts/google-chrome-scripts/make-backup.sh
User=maxwell

[Install]
WantedBy=multi-user.target
